{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h3">
                                Об авторе
                            </div> 
                        </li>
                        {% load static %}
                        <img src="{% static 'about/author.jpg' %}" alt="Фотография автора">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Фотография автора проекта на старте карьеры
                            </div>
                        </li>
                    </ul>                                               
                </div>                    
            </div>                
        </div>
        <div class="col-md-9">
            <div class="card-body">                    
                <div class="card-text">
                    <p>Привет! Меня зовут Никита, мне 27 лет и я только только начал осваивать Django</p>
                    <p>
                        В 2018 году я закончил МГТУ им. Н.Э. Баумана с отличием и сейчас работаю
                        ведущим инженером-конструктором центробежных насосов.
                    </p>
                </div>                    
            </div>                
        </div>            
    </div>        
</main>
{% endblock %}