.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

# Папки, создаваемые средой разработки
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/

.mypy_cache

# папки со статикой и медиа
static/
posts/static/
sent_emails/
media/

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

db.sqlite3
