<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                {{ author.get_full_name }}
            </div>
            <div class="h3 text-muted">
                <span style="color:red">@</span>{{ author.username }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Подписчиков: <span style="color:red">{{ following }}</span> <br/>
                    Подписан: <span style="color:red">{{ follower }}</span>
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Записей: <span style="color:red">{{ post_count }}</span>
                </div>
            </li>
        
            <li class="list-group-item">
                {% if follow_check %}
                    <a class="btn btn-dark" href="{% url 'posts:profile_unfollow' author.username %}" role="button"> 
                        Отписаться 
                    </a> 
                {% else %}
                    <a class="btn btn-dark" href="{% url 'posts:profile_follow' author.username %}" role="button">
                        Подписаться 
                    </a>
                {% endif %}
            </li>
    </div>
</div>

